@mixin inputs{
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    background-color: #f9fafb;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
      0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    border: 1px solid #d0d5dd;
    background: white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    &:focus {
        border: 1px solid #d6bbfb;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
        z-index: 1;
        outline: none;
      }
}
@mixin buttons{
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #b987ff;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
      0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    border: 1px solid #d0d5dd;
    color: white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    &:hover {
        border: 1px solid #d6bbfb;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
        z-index: 1;
        outline: none;
      }
      &:active{
        background-color: #a96cff;
      }
}
@mixin labels{
    position: absolute;
    font-size: 12px;
    color: red;
    top: -7px;
    background-color: white
}

.container{ 
    position: relative;
    margin-bottom: 10px;
    label{
     @include labels()
    }
    input{
        width: 200px;
        @include inputs()
    }
   
}

.descriptionContainer{
    position: relative;

    label{
        @include labels()
    }
    .description{
        @include inputs();
     
        width: 200px;
        height: 120px;
        resize: none;
    }
}
.addTodoButton{
    @include buttons()
}