.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    font-size:  20px ;
     border-bottom: 1px solid black;
    padding: 5px;
    padding-bottom: 1px;
    gap: 0;
    cursor: pointer;
    p{
        padding-left: 10px;
        width: 100%;
        transition-duration: 100ms;
        &:active{
            scale: 1.05;
        }
    }
    button{
        width: 10%;
        transition-duration: all, 100ms;
        width: 30px;
        height: 30px;
        &:active{
            scale: 1.2;
        }
    }
}
